#formulario{ 

    background-color:  rgba(0,0, 0, 0.5);
    color: white;
    width: 330px;
    height: 600px;
    border-radius: 5px;
    padding: 40px 50px;
    margin: auto;
    margin-top: 10%;
    /*transition: background-color 1s ease-in-out;*/

}


#formulario h1{
    font-size: 32px;
    font-weight: 700px;
    font-family: 'Helvetica Neue',Helvetica,Arial, Helvetica, sans-serif;
}


.control{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    border-width: 0px;
}

.boton{
    width: 70%;
    padding: 7px;
    box-sizing: border-box;
    
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 13%;
    margin-right: 13%;
    font-size: 1.1rem;
}

.botonReg{
    width: 50%;
    padding: 7px;
    box-sizing: border-box;

    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 23%;
    margin-right: 23%;
}

#landingText{
    float: auto;
    color: rgb(233, 233, 233);
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;
}